Flask==3.1.2
transformers==4.52.4
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_layout==0.0.12
nltk==3.9.1
numpy==1.26.4
regex==2024.11.6